.introImage {
    width: 250px;
    height: 250px;
}

@media screen and (max-width:1024px) {
    .introImage {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width:768px) {
    .introImage {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width:425px) {
    .introImage {
        width: 125px;
        height: 125px;
    }
}

@media screen and (max-width:375px) {
    .introImage {
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width:320px) {
    .introImage {
        width: 75px;
        height: 75px;
    }
}

.introTextLarge {
    font-size: 34px;
    padding-left: 5px ;

}

@media screen and (max-width:1024px) {
    .introTextLarge {
        font-size: 28px;
        padding-left: 5px;
    }
}

@media screen and (max-width:768px) {
    .introTextLarge {
        font-size: 28px;
        padding-left: 5px;
        }
    }

@media screen and (max-width:425px) {
    .introTextLarge {
        font-size: 26px;
        padding-left: 5px;
    }
}

@media screen and (max-width:375px) {
    .introTextLarge {
        font-size: 22px;
        padding-left: 5px;
    }
}

@media screen and (max-width:320px) {
    .introTextLarge {
        font-size: 20px;
        padding-left: 5px ;
    }
}

.introTextMedium {
    font-size: 18px;
    padding-left: 10px;
}


@media screen and (max-width:1024px) {
    .introTextMedium {
        font-size: 16px;
        padding-left: 10px;
    }
}

@media screen and (max-width:768px) {
    .introTextMedium {
        font-size: 16px;
        padding-left: 10px;
    }
}

@media screen and (max-width:425px) {
    .introTextMedium {
        font-size: 16px;
        padding-left: 10px;
    }
}

@media screen and (max-width:375px) {
    .introTextMedium {
        font-size: 14px;
        padding-left: 10px;
    }
}

@media screen and (max-width:320px) {
    .introTextMedium {
        font-size: 12px;
        padding-left: 10px;
    }
}

.techniques {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 20px;
} 

@media screen and (max-width:1024px) {
    .techniques {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    gap: 20px;
}
}

@media screen and (max-width:768px) {
    .techniques {
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        gap: 20px;
    }
}

@media screen and (max-width:425px) {
    .techniques {
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
    }
}

@media screen and (max-width:375px) {
    .techniques {
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
    }
}

@media screen and (max-width:320px) {
    .techniques {
        display: grid;
        grid-template-columns: 1fr  ;
        gap: 20px;
    }
}