
.resourceItems {
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 20px;
} 

@media screen and (max-width:768px) {
    .resourceItems {
        grid-template-columns: 1fr  ;
    }
}

